@page
@model wonderr.Pages.Dashboard.PropertiesModel

@{
    ViewData["Title"] = "Properties";
    Layout = "~/Pages/Dashboard/dashboard_Layout.cshtml";
}

<h1>Properties</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].NameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].NameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].LocationAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Property) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" style="display: inline;">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this property?');">
                            Delete
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
